<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2020-04-07 08:00:40</string>
					<key>startTime</key>
					<string>2020-04-03 16:24:36</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,2:30-1,9:00</string>
					<key>closeTime</key>
					<string>2:30-9:00,15:30-20:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>TDAU</string>
				<key>cname</key>
				<string>Au(T+D)</string>
				<key>name</key>
				<string>黄金T+D</string>
			</dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2020-04-07 08:00:40</string>
					<key>startTime</key>
					<string>2020-04-03 16:24:36</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,2:30-1,9:00</string>
					<key>closeTime</key>
					<string>2:30-9:00,15:30-20:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>TDMAU</string>
				<key>cname</key>
				<string>mAu(T+D)</string>
				<key>name</key>
				<string>迷你黄金T+D</string>
			</dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2020-04-07 08:00:40</string>
					<key>startTime</key>
					<string>2020-04-03 16:24:36</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,2:30-1,9:00</string>
					<key>closeTime</key>
					<string>2:30-9:00,15:30-20:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>0</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>TDAG</string>
				<key>cname</key>
				<string>Ag(T+D)</string>
				<key>name</key>
				<string>白银T+D</string>
			</dict>
            <dict>
                <key>specialStop</key>
                <dict>
                    <key>endTime</key>
                    <string>2020-04-07 08:00:40</string>
                    <key>startTime</key>
                    <string>2020-04-03 16:24:36</string>
                </dict>
                <key>dealTime</key>
                <dict>
                    <key>weekend</key>
                    <string>6,2:30-1,9:00</string>
                    <key>closeTime</key>
                    <string>2:30-9:00,15:30-20:00</string>
                </dict>
                <key>real</key>
                <string>1</string>
                <key>kde</key>
                <string>2</string>
                <key>fval</key>
                <string>2</string>
                <key>csel</key>
                <string>1</string>
                <key>tid</key>
                <string>TDAu9995</string>
                <key>cname</key>
                <string>Au99.95</string>
                <key>name</key>
                <string>黄金9995</string>
            </dict>
            <dict>
                <key>specialStop</key>
                <dict>
                    <key>endTime</key>
                    <string>2020-04-07 08:00:40</string>
                    <key>startTime</key>
                    <string>2020-04-03 16:24:36</string>
                </dict>
                <key>dealTime</key>
                <dict>
                    <key>weekend</key>
                    <string>6,2:30-1,9:00</string>
                    <key>closeTime</key>
                    <string>2:30-9:00,15:30-20:00</string>
                </dict>
                <key>real</key>
                <string>1</string>
                <key>kde</key>
                <string>2</string>
                <key>fval</key>
                <string>2</string>
                <key>csel</key>
                <string>1</string>
                <key>tid</key>
                <string>TDAu9999</string>
                <key>cname</key>
                <string>Au99.99</string>
                <key>name</key>
                <string>黄金9999</string>
            </dict>
            <dict>
                <key>specialStop</key>
                <dict>
                    <key>endTime</key>
                    <string>2020-04-07 08:00:40</string>
                    <key>startTime</key>
                    <string>2020-04-03 16:24:36</string>
                </dict>
                <key>dealTime</key>
                <dict>
                    <key>weekend</key>
                    <string>6,2:30-1,9:00</string>
                    <key>closeTime</key>
                    <string>2:30-9:00,15:30-20:00</string>
                </dict>
                <key>real</key>
                <string>1</string>
                <key>kde</key>
                <string>2</string>
                <key>fval</key>
                <string>2</string>
                <key>csel</key>
                <string>1</string>
                <key>tid</key>
                <string>TDAu100</string>
                <key>cname</key>
                <string>Au100g</string>
                <key>name</key>
                <string>黄金100g</string>
            </dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2020-04-07 08:00:40</string>
					<key>startTime</key>
					<string>2020-04-03 16:24:36</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,2:30-1,9:00</string>
					<key>closeTime</key>
					<string>2:30-9:00,15:30-20:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>TDNYAuTN06</string>
				<key>cname</key>
				<string>AuTN06</string>
				<key>name</key>
				<string>纽约金TN06</string>
			</dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2020-04-07 08:00:40</string>
					<key>startTime</key>
					<string>2020-04-03 16:24:36</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,2:30-1,9:00</string>
					<key>closeTime</key>
					<string>2:30-9:00,15:30-20:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>TDNYAuTN12</string>
				<key>cname</key>
				<string>AuTN12</string>
				<key>name</key>
				<string>纽约金TN12</string>
			</dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2020-04-07 08:00:40</string>
					<key>startTime</key>
					<string>2020-04-03 16:24:36</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,2:30-1,9:00</string>
					<key>closeTime</key>
					<string>2:30-9:00,15:30-20:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>TDPt9995</string>
				<key>cname</key>
				<string>Pt99.95</string>
				<key>name</key>
				<string>铂金9995</string>
			</dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2020-04-07 08:00:40</string>
					<key>startTime</key>
					<string>2020-04-03 16:24:36</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,2:30-1,9:00</string>
					<key>closeTime</key>
					<string>2:30-9:00,15:30-20:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>TDAuTN1</string>
				<key>cname</key>
				<string>Au(T+N1)</string>
				<key>name</key>
				<string>黄金T+N1</string>
			</dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2020-04-07 08:00:40</string>
					<key>startTime</key>
					<string>2020-04-03 16:24:36</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,2:30-1,9:00</string>
					<key>closeTime</key>
					<string>2:30-9:00,15:30-20:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>TDAuTN2</string>
				<key>cname</key>
				<string>Au(T+N2)</string>
				<key>name</key>
				<string>黄金T+N2</string>
			</dict>
		</array>
		<key>name</key>
		<string>上金所</string>
		<key>gid</key>
		<string>TD</string>
		<key>real</key>
		<string>1</string>
		<key>vHost</key>
		<string>zhangjin</string>
		<key>host</key>
		<string>rabbitmq.zsgjs.com</string>
		<key>rName</key>
		<string>rabbitmquser</string>
		<key>exchange</key>
		<string>WS_SJ_Exchange</string>
		<key>eType</key>
		<string>fanout</string>
		<key>order</key>
		<string>1000</string>
		<key>pwd</key>
		<string>rabbitmqpwd2015</string>
		<key>port</key>
		<string>61613</string>
		<key>tName</key>
		<string>上海黄金交易所</string>
		<key>st</key>
		<string>0</string>
		<key>deal</key>
		<string>TD</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2019-12-26 08:30:15</string>
					<key>startTime</key>
					<string>2019-12-25 08:30:04</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,5:00-1,6:00</string>
					<key>closeTime</key>
					<string>5:00-6:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>XHAU</string>
				<key>cname</key>
				<string>AUUSDO</string>
				<key>name</key>
				<string>现货黄金</string>
			</dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2019-12-26 08:30:15</string>
					<key>startTime</key>
					<string>2019-12-25 08:30:04</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,5:00-1,6:00</string>
					<key>closeTime</key>
					<string>5:00-6:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>0.2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>XHAG</string>
				<key>cname</key>
				<string>AGUSDO</string>
				<key>name</key>
				<string>现货白银</string>
			</dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2019-12-26 08:30:15</string>
					<key>startTime</key>
					<string>2019-12-25 08:30:04</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,5:00-1,6:00</string>
					<key>closeTime</key>
					<string>5:00-6:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>XHPT</string>
				<key>cname</key>
				<string>PTUSDO</string>
				<key>name</key>
				<string>现货铂金</string>
			</dict>
			<dict>
				<key>specialStop</key>
				<dict>
					<key>endTime</key>
					<string>2019-12-26 08:30:15</string>
					<key>startTime</key>
					<string>2019-12-25 08:30:04</string>
				</dict>
				<key>dealTime</key>
				<dict>
					<key>weekend</key>
					<string>6,5:00-1,6:00</string>
					<key>closeTime</key>
					<string>5:00-6:00</string>
				</dict>
				<key>real</key>
				<string>1</string>
				<key>kde</key>
				<string>2</string>
				<key>fval</key>
				<string>2</string>
				<key>csel</key>
				<string>1</string>
				<key>tid</key>
				<string>XHPD</string>
				<key>cname</key>
				<string>PDUSDO</string>
				<key>name</key>
				<string>现货钯金</string>
			</dict>
		</array>
		<key>name</key>
		<string>国际现货</string>
		<key>gid</key>
		<string>XH</string>
		<key>real</key>
		<string>1</string>
		<key>vHost</key>
		<string>zhangjin</string>
		<key>host</key>
		<string>rabbitmq.zsgjs.com</string>
		<key>rName</key>
		<string>rabbitmquser</string>
		<key>exchange</key>
		<string>WS_XH_Exchange</string>
		<key>eType</key>
		<string>fanout</string>
		<key>order</key>
		<string>3000</string>
		<key>pwd</key>
		<string>rabbitmqpwd2015</string>
		<key>port</key>
		<string>61613</string>
		<key>tName</key>
		<string>国际现货</string>
		<key>st</key>
		<string>0</string>
		<key>deal</key>
		<string></string>
	</dict>
</array>
</plist>
